body {
			background-image: url("Mentality.jpg")
		}
		.img1{
			width:  200px;
			height: 200px;
		}
			.img2{
			width:  50px;
			height: 50px;
	}
					table{
						text-align:center;
						background-color:darkred;
						opacity:0.95;
						width: 70%;
					}
		/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: darkred;
}

/* mouse over link */
a:hover {
  color: indianred;
}

/* selected link */
a:active {
  color: white;
}